@font-face {
    font-family: "Charter";
    src: url('fonts/charter_regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-stretch: normal
}

@font-face {
    font-family: "Charter";
    src: url('fonts/charter_italic.woff2') format('woff2');
    font-style: italic;
    font-weight: normal;
    font-stretch: normal
}

@font-face {
    font-family: "Charter";
    src: url('fonts/charter_bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    font-stretch: normal
}

@font-face {
    font-family: "Charter";
    src: url('fonts/charter_bold_italic.woff2') format('woff2');
    font-style: italic;
    font-weight: bold;
    font-stretch: normal
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-thin.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedthin.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-thinoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-thinoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedthinoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedthinoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-thinitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedthinitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-extralight.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedextralight.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extralightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-extralightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedextralightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedextralightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-extralightitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedextralightitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-light.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedlight.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-lightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-lightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedlightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedlightoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-lightitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedlightitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-regular.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extended.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-oblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-oblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-italic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendeditalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedmedium.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-mediumoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-mediumoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedmediumoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedmediumoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-mediumitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedmediumitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-semibold.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedsemibold.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-semiboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-semiboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedsemiboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedsemiboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-semibolditalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedsemibolditalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-bold.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedbold.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-boldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-boldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-bolditalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedbolditalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-extrabold.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedextrabold.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extraboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-extraboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedextraboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedextraboldoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-extrabolditalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedextrabolditalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    src: url('fonts/iosevka-slab-heavy.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: normal;
    src: url('fonts/iosevka-slab-extendedheavy.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: oblique;
    src: url('fonts/iosevka-slab-heavyoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    src: url('fonts/iosevka-slab-heavyoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: oblique;
    src: url('fonts/iosevka-slab-extendedheavyoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web Oblique';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    src: url('fonts/iosevka-slab-extendedheavyoblique.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    src: url('fonts/iosevka-slab-heavyitalic.woff2') format('woff2')
}

@font-face {
    font-family: 'Iosevka Slab Web';
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: italic;
    src: url('fonts/iosevka-slab-extendedheavyitalic.woff2') format('woff2')
}

.org-bold {
    font-weight: bold
}

.org-bold-italic {
    font-weight: bold;
    font-style: italic
}

.org-border {}

.org-buffer-menu-buffer {
    font-weight: bold
}

.org-builtin {
    color: #1a8591
}

.org-button {
    color: #697024;
    text-decoration: underline
}

.org-calendar-month-header {
    color: #bd745e;
    font-weight: bold
}

.org-calendar-today {
    text-decoration: underline
}

.org-calendar-weekday-header {
    color: #697024
}

.org-calendar-weekend-header {
    color: #a9a9a9
}

.org-comint-highlight-input {
    font-weight: bold
}

.org-comint-highlight-prompt {
    color: #4a858c;
    font-weight: bold
}

.org-comment {
    color: #a9a9a9
}

.org-comment-delimiter {
    color: #a9a9a9
}

.org-completions-annotations {
    font-style: italic
}

.org-completions-common-part {}

.org-completions-first-difference {
    font-weight: bold
}

.org-constant {
    color: #697024
}

.org-cursor {
    background-color: #c9c1b9
}

.org-diary {
    color: #ff0000
}

.org-doc {
    color: #a9a9a9
}

.org-error {
    color: #ff0000;
    font-weight: bold
}

.org-escape-glyph {
    color: #a52a2a
}

.org-file-name-shadow {
    color: #7f7f7f
}

.org-fixed-pitch {}

.org-fringe {
    color: #7d7d7d;
    background-color: #dfd6cd
}

.org-function-name {
    color: #bd745e;
    font-weight: bold
}

.org-glyphless-char {
    font-size: 60%
}

.org-header-line {
    color: #333333;
    background-color: #e5e5e5;
    font-weight: bold
}

.org-help-argument-name {
    font-style: italic
}

.org-highlight {
    color: #707070;
    background-color: #c9c1b9
}

.org-holiday {
    background-color: #ffc0cb
}

.org-isearch {
    color: #ff1276;
    background-color: #c9c1b9;
    font-weight: bold
}

.org-isearch-fail {
    background-color: #ffc1c1
}

.org-italic {
    font-style: italic
}

.org-keyword {
    color: #4a858c;
    font-weight: bold
}

.org-lazy-highlight {
    color: #646464;
    background-color: #c9c1b9
}

.org-link {
    color: #697024;
    text-decoration: underline
}

.org-link-visited {
    color: #8b008b;
    text-decoration: underline
}

.org-match {
    background-color: #ffff00
}

.org-menu {}

.org-minibuffer-prompt {
    color: #4a858c;
    font-weight: bold
}

.org-mode-line {
    color: #7d7d7d;
    background-color: #dfd6cd;
    font-weight: bold
}

.org-mode-line-buffer-id {
    color: #bd745e;
    font-weight: bold
}

.org-mode-line-emphasis {
    color: #585858
}

.org-mode-line-highlight {
    color: #4a858c;
    font-weight: bold
}

.org-mode-line-inactive {
    color: #43757c;
    background-color: #f5ebe1
}

.org-mouse {}

.org-negation-char {
    color: #697024
}

.org-next-error {
    color: #f5ebe1;
    background-color: #585858
}

.org-nobreak-space {
    color: #a52a2a;
    text-decoration: underline
}

.org-org-agenda-calendar-event {
    color: #585858;
    background-color: #f5ebe1
}

.org-org-agenda-calendar-sexp {
    color: #585858;
    background-color: #f5ebe1
}

.org-org-agenda-clocking {
    background-color: #ffff00
}

.org-org-agenda-column-dateline {
    background-color: #e5e5e5
}

.org-org-agenda-current-time {
    color: #b8860b
}

.org-org-agenda-date {
    color: #707070;
    background-color: #c9c1b9;
    font-weight: bold
}

.org-org-agenda-date-today {
    color: #707070;
    background-color: #c9c1b9;
    font-weight: bold;
    font-style: italic
}

.org-org-agenda-date-weekend {
    color: #707070;
    background-color: #c9c1b9;
    font-weight: bold
}

.org-org-agenda-diary {
    color: #585858;
    background-color: #f5ebe1
}

.org-org-agenda-dimmed-todo {
    color: #7f7f7f
}

.org-org-agenda-done {
    color: #b4ada6
}

.org-org-agenda-filter-category {
    color: #7d7d7d;
    background-color: #dfd6cd;
    font-weight: bold
}

.org-org-agenda-filter-regexp {
    color: #7d7d7d;
    background-color: #dfd6cd;
    font-weight: bold
}

.org-org-agenda-filter-tags {
    color: #7d7d7d;
    background-color: #dfd6cd;
    font-weight: bold
}

.org-org-agenda-restriction-lock {
    background-color: #eeeeee
}

.org-org-agenda-structure {
    color: #707070;
    background-color: #c9c1b9;
    font-weight: bold
}

.org-org-archived {
    color: #7f7f7f
}

.org-org-block {
    color: #707070
}

.org-org-block-background {}

.org-org-block-begin-line {
    color: #a9a9a9
}

.org-org-block-end-line {
    color: #a9a9a9
}

.org-org-checkbox {
    font-weight: bold
}

.org-org-checkbox-statistics-done {
    color: #b4ada6;
    font-weight: bold
}

.org-org-checkbox-statistics-todo {
    color: #4a858c;
    font-weight: bold
}

.org-org-clock-overlay {
    background-color: #ffff00
}

.org-org-code {
    color: #646464
}

.org-org-column {
    background-color: #e5e5e5
}

.org-org-column-title {
    background-color: #e5e5e5;
    font-weight: bold;
    text-decoration: underline
}

.org-org-date {
    color: #476238;
    text-decoration: underline
}

.org-org-date-selected {
    color: #ff0000
}

.org-org-default {
    color: #585858;
    background-color: #f5ebe1
}

.org-org-document-info {
    color: #191970
}

.org-org-document-info-keyword {
    color: #bd745e
}

.org-org-document-title {
    color: #191970;
    font-weight: bold
}

.org-org-done {
    color: #b4ada6;
    font-weight: bold
}

.org-org-drawer {
    color: #0000ff
}

.org-org-ellipsis {
    color: #1a8591
}

.org-org-footnote {
    color: #7d7d7d;
    text-decoration: underline
}

.org-org-formula {
    color: #b22222
}

.org-org-headline-done {
    color: #bc8f8f
}

.org-org-hide {
    color: #7d7d7d
}

.org-org-latex-and-related {
    color: #8b4513
}

.org-org-level-1 {
    color: #646464;
    font-size: 110%;
    font-weight: bold
}

.org-org-level-2 {
    color: #707070
}

.org-org-level-3 {
    color: #7d7d7d;
    font-weight: bold
}

.org-org-level-4 {
    color: #b4ada6
}

.org-org-level-5 {
    color: #8c4a79
}

.org-org-level-6 {
    color: #697024
}

.org-org-level-7 {
    color: #1a8591
}

.org-org-level-8 {
    color: #b3534b
}

.org-org-link {
    color: #8c4a79;
    text-decoration: underline
}

.org-org-list-dt {
    font-weight: bold
}

.org-org-macro {
    color: #8b4513
}

.org-org-meta-line {
    color: #a9a9a9
}

.org-org-mode-line-clock {
    color: #7d7d7d;
    background-color: #dfd6cd;
    font-weight: bold
}

.org-org-mode-line-clock-overrun {
    color: #7d7d7d;
    background-color: #ff0000;
    font-weight: bold
}

.org-org-priority {
    color: #4a858c;
    font-weight: bold
}

.org-org-property-value {}

.org-org-quote {
    color: #707070
}

.org-org-scheduled {
    color: #8c4a79
}

.org-org-scheduled-previously {
    color: #b22222
}

.org-org-scheduled-today {
    color: #bd745e;
    font-size: 120%;
    font-weight: bold
}

.org-org-sexp-date {
    color: #7d7d7d
}

.org-org-special-keyword {
    color: #bd745e
}

.org-org-table {
    color: #0000ff
}

.org-org-tag {
    font-weight: bold
}

.org-org-tag-group {
    font-weight: bold
}

.org-org-target {
    text-decoration: underline
}

.org-org-time-grid {
    color: #b8860b
}

.org-org-todo {
    color: #4a858c;
    font-weight: bold
}

.org-org-upcoming-deadline {
    color: #b22222
}

.org-org-verbatim {
    color: #7d7d7d
}

.org-org-verse {
    color: #707070
}

.org-org-warning {
    color: #ff1276;
    text-decoration: underline
}

.org-outline-1 {
    color: #bd745e;
    font-weight: bold
}

.org-outline-2 {
    color: #476238
}

.org-outline-3 {
    color: #4a858c;
    font-weight: bold
}

.org-outline-4 {
    color: #a9a9a9
}

.org-outline-5 {
    color: #8c4a79
}

.org-outline-6 {
    color: #697024
}

.org-outline-7 {
    color: #1a8591
}

.org-outline-8 {
    color: #b3534b
}

.org-preprocessor {
    color: #1a8591
}

.org-query-replace {
    color: #ff1276;
    background-color: #c9c1b9;
    font-weight: bold
}

.org-regexp-grouping-backslash {
    font-weight: bold
}

.org-regexp-grouping-construct {
    font-weight: bold
}

.org-region {
    color: #f5ebe1;
    background-color: #585858
}

.org-scroll-bar {}

.org-secondary-selection {
    background-color: #ffff00
}

.org-shadow {
    color: #7f7f7f
}

.org-show-paren-match {
    background-color: #40e0d0
}

.org-show-paren-mismatch {
    color: #ffffff;
    background-color: #a020f0
}

.org-string {
    color: #b3534b
}

.org-success {
    color: #228b22;
    font-weight: bold
}

.org-tool-bar {
    color: #000000;
    background-color: #bfbfbf
}

.org-tooltip {
    color: #000000;
    background-color: #ffffe0
}

.org-trailing-whitespace {
    background-color: #ff1276
}

.org-tty-menu-disabled {
    color: #d3d3d3;
    background-color: #0000ff
}

.org-tty-menu-enabled {
    color: #ffff00;
    background-color: #0000ff;
    font-weight: bold
}

.org-tty-menu-selected {
    background-color: #ff0000
}

.org-type {
    color: #8c4a79
}

.org-underline {
    text-decoration: underline
}

.org-variable-name {
    color: #476238
}

.org-variable-pitch {}

.org-vertical-border {
    color: #707070
}

.org-warning {
    color: #ff1276
}

.org-warning-1 {
    color: #ff1276;
    background-color: #dfd6cd
}

.org-window-divider {
    color: #999999
}

.org-window-divider-first-pixel {
    color: #cccccc
}

.org-window-divider-last-pixel {
    color: #666666
}

:root {
    --main-fg-color: #585858;
    --main-bg-color: #faf9f6;
    --code-bg-color: #f5ebe1;
    --link-fg-color: #2a5db0;
    --link-hover-color: #ab4f49;
    --drawer-bg-color: #e5e5e5;
    --body-font-sz: 14pt;
    --h1-font-sz: 1.8rem;
    --h2-font-sz: 1.5rem;
    --h3-font-sz: 1.3rem;
    --footer-font-sz: 0.8rem;
    --code-font-sz: 0.85rem
}

html {
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    font-family: "Charter", serif;
    font-size: var(--body-font-sz);
    scroll-behavior: smooth
}

body {
    line-height: 1.333;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 1028px
}

a,
a:visited {
    color: var(--link-fg-color)
}

a:hover {
    color: var(--link-hover-color)
}

.footnote-summary {
    font-size: var(--h2-font-sz);
    font-weight: bold;
    margin-top: 1rem
}

.fn-tbl-row {
    vertical-align: top
}

.fn-tbl-number {
    text-align: right;
    padding: 0.8rem 0.5rem 0 0.5rem
}

.fn-tbl-item {
    text-align: left;
    padding: 0.8rem 0 0 0
}

.hrule {
    border-top: 1px solid var(--main-fg-color);
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

.hrule.separator {
    margin-top: 1.5rem;
    margin-bottom: 0
}

.banner a {
    text-decoration: none
}

.banner #banner-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 1rem;
    font-size: var(--h3-font-sz);
    font-weight: bold;
    text-decoration: none;
    line-height: 1
}

.banner #banner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    line-height: 1
}

.banner #banner-left {
    font-size: var(--h1-font-sz);
    font-weight: bold;
    text-decoration: none;
    color: var(--main-fg-color)
}

.banner.staging #banner-right::before {
    content: "STAGING";
    font-size: var(--h1-font-sz);
    font-weight: bold;
    font-style: italic;
    color: var(--main-bg-color);
    background: var(--link-hover-color);
    padding: 0 1rem 0 1rem
}

.banner .banner-nav-extra {
    font-style: italic;
    color: var(--link-hover-color)
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    text-decoration: none
}

h1 {
    font-size: var(--h1-font-sz);
    line-height: 1
}

h2 {
    font-size: var(--h2-font-sz);
    line-height: 1
}

h3 {
    font-size: var(--h3-font-sz);
    line-height: 1
}

h1 a,
h2 a,
h3 a {
    text-decoration: none
}

h1 code,
h2 code,
h3 code,
h4 code {
    font-size: 90%
}

b,
strong {
    font-weight: bold
}

li,
p,
dd,
blockquote {
    text-align: left;
    hyphens: auto
}

p {
    margin: 0.6rem 0
}

li p {
    margin: 0.3rem 0
}

p.footpara {
    margin: 0;
    margin-bottom: 0.3rem
}

ul,
ol {
    margin: 0;
    padding: 0;
    margin-inline-start: 1.1rem
}

hr {
    width: calc(100% - 2px)
}

.toc-details summary {
    font-size: var(--h3-font-sz)
}

#text-table-of-contents {
    margin-top: 1rem
}

#text-table-of-contents a {
    text-decoration: none
}

#text-table-of-contents ul {
    list-style-type: disc
}

.numbered #text-table-of-contents ul {
    list-style-type: none
}

.numbered #text-table-of-contents>ul {
    margin: 0
}

ol ol {
    list-style-type: lower-latin
}

blockquote {
    margin: 1.2em 1.5em
}

dt {
    font-weight: normal
}

pre {
    width: calc(100% - 12px);
    overflow: auto;
    color: var(--main-fg-color);
    background-color: var(--code-bg-color);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 3px 5px 3px 5px
}

pre,
code {
    font-family: "Iosevka Slab Web", monospace;
    font-size: var(--code-font-sz);
    white-space: pre
}

details>summary {
    cursor: pointer;
    font-weight: bold
}

img,
table {
    max-width: 80%;
    margin: auto
}

figure {
    margin: 0.5rem 0 0.5rem 0;
    text-align: center
}

figure p {
    text-align: center;
    font-size: 80%;
    line-height: 1.286;
    margin: 0
}

iframe {
    border: 1px solid var(--main-fg-color)
}

.mypicture {
    max-width: 200px;
    margin: 0;
    padding-top: 8pt
}

.ieeebio {
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch
}

.ieeebiopic {
    max-height: 160px;
    margin: 0;
    padding: 0
}

.ieeebio p {
    margin: 0 0 0 10px
}

@media (max-width:760px) {
    .ieeebio {
        flex-wrap: wrap
    }

    .ieeebio p {
        margin: 15px 0 0 0
    }

    .ieeebiopic {
        margin: auto;
        display: block
    }
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 80%
}

.drawer {
    padding: 10px;
    margin: auto;
    max-width: 75%;
    background-color: var(--drawer-bg-color);
    color: var(--main-fg-color);
    border-radius: 10px;
    border: 2px solid var(--main-fg-color)
}

.drawer h6 {
    color: var(--main-fg-color);
    font-size: var(--body-font-sz);
    font-weight: bold;
    margin: 0 0 0.5em 0;
    border-bottom: 1px solid var(--main-fg-color)
}

.drawer *:last-child {
    margin-bottom: 0
}

table {
    text-align: justify
}

.tag .noadd {
    display: none
}

.tag .nohead {
    display: none
}

footer {
    font-size: var(--footer-font-sz);
    line-height: 1;
    margin-top: 1.5rem
}

#footer-content {
    display: flex;
    justify-content: space-between
}

.sidenote {
    display: none
}

.sidenote-number>a,
a.footnum {
    text-decoration: none
}

.marginnote {
    display: block;
    float: none;
    clear: none;
    width: 80%;
    margin: 1rem;
    vertical-align: baseline;
    position: relative;
    border-bottom: 1px solid var(--main-fg-color);
    border-top: 1px solid var(--main-fg-color);
    padding: 0.5rem
}

@media print {
    body {
        font-size: 10pt;
        margin: 0;
        max-width: none;
        width: auto
    }

    pre {
        margin: 6pt 0 6pt 0;
        padding: 0 6pt
    }

    p,
    li,
    dd,
    blockquote {
        margin: 6pt 0
    }

    h1,
    #table-of-contents {
        column-span: all;
        -webkit-column-span: 2
    }

    .drawer {
        border: 1pt solid var(--main-fg-color);
        padding: 3pt
    }

    .drawer h6,
    .drawer p {
        color: black;
        font-size: 9pt;
        display: inline
    }

    a {
        text-decoration: none;
        color: black
    }

    #MathJax_Message,
    #taglist,
    svg button {
        display: none
    }
}

@media (max-width:760px) {

    p,
    ul,
    ol {
        text-align: justify
    }

    .subheader {
        flex-direction: column;
        justify-content: flex-start
    }
}

.csl-right-inline {
    margin: 0 0 0 2.4rem !important
}

.csl-left-margin {
    float: left
}

.csl-entry {
    margin-bottom: 0.3rem
}

.blog_archive>ul {
    list-style-type: none;
    margin: 0
}

.subheader {
    margin: 0.6rem 0;
    display: flex;
    justify-content: space-between
}

#reactions button {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    margin-right: 0.4rem;
    border-color: var(--main-fg-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 0.2rem
}

#reactions button:not([disabled~=true]):hover,
#reactions button[aria-busy~=true] {
    background-color: var(--code-bg-color);
    transition-duration: 0.2s
}

#reactions button[disabled~=true] {
    background-color: var(--code-bg-color);
    border-color: var(--code-bg-color)
}

blockquote {
    font-style: oblique
}

.dots {
    --n: 3;
    width: 120px;
    height: 10px;
    margin: 40px auto;
    background: radial-gradient(circle closest-side, var(--main-fg-color) 70%, #0000) 0/calc(100%/var(--n)) 100%
}
